<div class="jumbotron">
    <h1 class="display-4">Welcome to the To-Do List App</h1>
    <p class="lead">Organize your tasks efficiently</p>
    <hr class="my-4">
    <p>Please login or register to start managing your to-do list.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
</div>